# 데이터에 관하여

In [1]:
# Pandas를 pd라는 이름으로 임포트한다
import pandas as pd

In [2]:
# 학생번호를 인덱스로 csv 파일을 읽어들여, 변수 df에 저장
df = pd.read_csv('../data/ch1_sport_test.csv',
                 index_col='학생번호')
# 변수 df를 표시
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [3]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

## 데이터의 크기
- 데이터가 주어지면 제일 먼저 확인하는 것이 데이터의 크기
- DataFrame의 크기는 shape라는 인스턴스 변수 참조하면 알 수 있음

In [4]:
df.shape

(10, 5)

## 변수의 종류

### 질적 변수와 양적 변수
- 질적 변수 : 선택이 필요한 변수나 종류를 구분하기 위한 변수
    - 2진 변수 : 남성과 여성, 흡연 여부 등 값이 2개뿐인 질적 변수
- 양적 변수 : 시험 점수나 키와 같이 양을 표현하는 변수

### 척도 수준
- 질적 변수
    - 명의 척도 
        - 분류를 위한 변수로 변수의 동일성 여부에만 의미가 있음. (예. 학생번호, 성별)
        - 예. 학생번호 4, 8 대소관계 의미 x, 합/차 계산 의미 x
        
    - 순위 척도
        - 순서나 대소 관계에 의미가 있는 변수. (예. 성적 순위, 설문조사)
        - 예. 4등이 8등보다 잘하니까 대소관계는 의미가 있는데, 4등 8등의 차이가 8등 12등 차이와 동일하다고 비교할 수 없음
- 양적 변수
    - 간격 척도
        - 대소 관계와 함께 그 차이에 의미를 두는 변수 (예. 연도, 온도)
        - 예. 60도는 30도보다 높은 온도라 대소 관계에 의미가 있지만, 60도가 30도의 2배는 아님
    - 비례 척도
        - 대소 관계, 차이, 비 모두 의미가 있는 변수 (예. 길이, 무게)
        - 예. 50cm와 100cm의 차이가 50cm, 100cm는 50cm의 2배 
    - 간격 척도와 비례 척도 구분이 어려울 경우?
        - '0'이 없음을 나타내는지 여부를 판단 -> 길이에서 0cm는 없음을 의미, 온도에서는 0도는 온도가 없다는 뜻이 아님

### 이산형 변수와 연속형 변수
- 이산형 변수
    - 0,1,2,3.. 와 같이 하나하나의 값을 취하는 변수
    - 예. 주사위 눈(1,2,3,4,5,6)
- 연속형 변수 
    - 연속적인 값을 취할 수 있는 변수
    - 예. 길이, 무게, 시간